<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons" style="margin-right:0.5em;">security</i> 
    <span class="apptitle">OPT – Web Control</span>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="margin1">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutAlign="left top">

    <mat-card fxFlex="50" fxFlex.lg="30">
      <mat-card-title>HSM / Terminal</mat-card-title>
      <mat-card-subtitle>Eigenschaften des HSM und des Terminals</mat-card-subtitle>
      <mat-card-content fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="HSM-Status" [(ngModel)]="hsmData.status" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ZKA-Nummer" [(ngModel)]="hsmData.zkano" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput #inptid maxlength="8" placeholder="Terminal-ID" [(ngModel)]="hsmData.terminalid">
            <mat-hint align="end">{{inptid.value?.length || 0}}/8</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput #inpblz maxlength="8" placeholder="Betreiber-BLZ" [(ngModel)]="hsmData.betreiberblz">
            <mat-hint align="end">{{inpblz.value?.length || 0}}/8</mat-hint>
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary" (click)="saveTerminalProperties()">Speichern</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-form-field hintLabel="Format: JJJJMMTTHHMMSS">
            <input matInput #inpozp maxlength="14" placeholder="Onlinezeitpunkt" [(ngModel)]="hsmData.ozp">
            <mat-hint align="end">{{inpozp.value?.length || 0}}/14</mat-hint>
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary" (click)="setOZP()">Onlinezeitpunkt setzen</button>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50" fxFlex.lg="30">
      <mat-card-title>OPT</mat-card-title>
      <mat-card-subtitle>Personalisierungsstelle (PS)</mat-card-subtitle>
      <mat-card-content fxLayout="column">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="left top">
          <mat-form-field fxFlex="75">
              <input matInput #inphost placeholder="IP / Host" [(ngModel)]="hsmData.ps_host">
          </mat-form-field>
          <mat-form-field fxFlex="25">
              <input matInput #inpport placeholder="Port" [(ngModel)]="hsmData.ps_port">
          </mat-form-field>
        </div>
        <p>
          <button mat-raised-button color="primary" (click)="savePS()">Speichern</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-card-subtitle>Initialisierung / Personalisierung</mat-card-subtitle>
        <p>
          <button mat-raised-button color="primary" (click)="optInit()" [disabled]="processing">OPT-Initialisierung durchführen</button>
        </p>
        <p>
          <button mat-raised-button color="primary" (click)="optInit()" disabled="true">OPT-Personalisierung durchführen</button>
        </p>
      </mat-card-content>
    </mat-card>
    
  </div>
</div>
