<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons" style="margin-right:0.5em;">security</i> 
    <span class="apptitle">OPT – Web Control</span>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="margin1">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutAlign="left top">

    <mat-card fxFlex="50" fxFlex.lg="30">
      <mat-card-title>OPT</mat-card-title>
      <mat-card-subtitle>Personalisierungsstelle (PS)</mat-card-subtitle>
      <mat-card-content fxLayout="column">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="left top">
          <mat-form-field fxFlex="75">
              <input matInput #inphost placeholder="IP / Host" [(ngModel)]="adminData.ps_host">
          </mat-form-field>
          <mat-form-field fxFlex="25">
              <input matInput #inpport placeholder="Port" [(ngModel)]="adminData.ps_port">
          </mat-form-field>
        </div>
        <p>
          <button mat-raised-button color="primary" (click)="savePS()">Speichern</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-card-subtitle>Vor-Initialisierung</mat-card-subtitle>
        <p>
           Hinweis: Für die Vor-Initialisierung muss der Wert "Hersteller-ID+Hersteller-Seriennummer" (insgesamt 16 Stellen)
           zum K_UR passen. PSSIM.EXE berechnet zwei K_URs und gibt diese beim Start aus, der erste passt zu
           "H00016"+"0008154711", der zweite zu "H00016"+"1008154711". Siehe config.json.
        </p>
        <key-presence keyname="K_UR">/</key-presence>
        <p>
          <button mat-raised-button color="primary" (click)="optPreInit()" [disabled]="processing || !keystoreData.K_UR">Vor-Initialisierung durchführen</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-card-subtitle>Registrierung</mat-card-subtitle>
        <div flexLayout="row" fxLayoutGap="1em">
          <mat-form-field fxFlex="75%">
            <mat-label>Art</mat-label>
            <mat-select [(value)]="registrationType">
              <mat-option value="new">Neu-Registrierung</mat-option>
              <mat-option value="change">Änderungs-Regstrierung</mat-option>
              <mat-option value="unreg">Abmeldung</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="25%">
            <button mat-raised-button color="primary" (click)="optRegister()">Ausführen</button>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-card-subtitle>Initialisierung</mat-card-subtitle>
        <key-presence keyname="K_INIT">/</key-presence>
        <p>
          <button mat-raised-button color="primary" (click)="optInit()" [disabled]="processing || !keystoreData.K_INIT">Initialisierung durchführen</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-card-subtitle>Personalisierung</mat-card-subtitle>
        <key-presence keyname="K_PERS">/</key-presence>
        <p>
          <button mat-raised-button color="primary" (click)="optPers()" [disabled]="processing || !keystoreData.K_PERS">Personalisierung durchführen</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-card-subtitle>Außerbetriebnahme</mat-card-subtitle>
        <key-presence keyname="K_INIT">/</key-presence>
        <p>
          <button mat-raised-button color="primary" (click)="optOutOfOrder()" [disabled]="processing || !keystoreData.K_INIT">Außerbetriebnahme</button>
        </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card fxFlex="50" fxFlex.lg="30">
      <mat-card-title>HSM / Terminal</mat-card-title>
      <mat-card-subtitle>Eigenschaften des HSM und des Terminals</mat-card-subtitle>
      <mat-card-content fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="HSM-Status" [(ngModel)]="adminData.status" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput #inphid placeholder="Hersteller-ID" [(ngModel)]="adminData.herstellerid" disabled="true">
            <mat-hint align="end">{{inphid.value?.length || 0}}/6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput #inphserial placeholder="Hersteller-Seriennummer" [(ngModel)]="adminData.herstellerserialno" disabled="true">
            <mat-hint align="end">{{inphserial.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput #inphid placeholder="Betreiber-ID" [(ngModel)]="adminData.betreiberid" disabled="true">
            <mat-hint align="end">{{inphid.value?.length || 0}}/6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput #inphzkano placeholder="ZKA-Nummer" [(ngModel)]="adminData.zkano" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput #inptid maxlength="8" placeholder="Terminal-ID" [(ngModel)]="adminData.terminalid">
            <mat-hint align="end">{{inptid.value?.length || 0}}/8</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput #inpblz maxlength="8" placeholder="Betreiber-BLZ" [(ngModel)]="adminData.betreiberblz">
            <mat-hint align="end">{{inpblz.value?.length || 0}}/8</mat-hint>
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary" (click)="saveTerminalProperties()">Speichern</button>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p></p>
        <mat-form-field hintLabel="Format: JJJJMMTTHHMMSS">
            <input matInput #inpozp maxlength="14" placeholder="Onlinezeitpunkt" [(ngModel)]="adminData.ozp">
            <mat-hint align="end">{{inpozp.value?.length || 0}}/14</mat-hint>
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary" (click)="setOZP()">Onlinezeitpunkt setzen</button>
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
