<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons" style="margin-right:0.5em;">security</i> 
    <span class="apptitle">OPT – Web Control</span>
    <span style="flex: 1 1 auto;"></span>
    
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content fxFlexFill fxLayout="column">
    <mat-form-field hintLabel="Format: YYYYMMDDHHMMSS">
        <input matInput #input maxlength="64" placeholder="Onlinezeitpunkt" [(ngModel)]="ozp">
        <mat-hint align="end">{{input.value?.length || 0}}/64</mat-hint>
    </mat-form-field>
    <p>
      <button mat-raised-button color="primary">Initialisiere HSM</button>
    </p>
  </mat-card-content>
</mat-card>
