/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.apptitle {
    font-size: 0.9em;
    font-weight: bold;
}

.margin1 {
    margin: 1em;
}
